<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizlist Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/result.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include("partials/_header") %>
  
  <main>
    <div id="quiz-banner">
      <span id="result-user"><%= userName %></span>
      <span id="result-quiz-title"><%= quiz[0].quiz_title %> Results</span>
      <span id="result-date"><%= quiz[0].result_date %></span>
      <span id="result-total"><%= quiz[0].result_score %> / 1</span>
    </div>
  
    <div class="result-question-container">
    <% for (let i = 0; i < quiz.length - 1; i++) { %>
      <section class="result-question">
        <div class="answer-info">
          <div class="answer-header">
            <span class="question-title"><%= quiz[i].quiz_title %></span> 
            <span class="answer-result">Correct!</span>
          </div>
          <p class="question-desc"><%= quiz[i].question_text %></p>
        </div>
        <textarea class="user-answer"><%= quiz[i].user_response %></textarea>
      </section>
    <% } %>
    </div>
  </main>
</body>

</html>
